body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #fff7ad, #ffa9f9);
}

header {
    background-color: #FF7171;
    font-family: Georgia;
    padding-top: 1px;
    padding-bottom: 1px;

}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.nav-link {
    text-decoration: none;
    color: #000000;
}

.nav-link img {
    height: 20px;
}


img {
    float: right;
    max-width: 75%;
    /* Adjust this value as needed */
    margin-left: auto;
    margin-right: 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 200px;
    margin-bottom: 100px;

}

button {
    background-color: #FF7171;
    color: white;
    width: 150px;
    padding: 10px;
    border: none;
}

.arrow-button {
    display: flex;
    flex-direction: column;
    color: black;
    width: 500px;
    padding: 10px;

}

.images-grid {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    height: 100px;
    gap: 100px;
}

.container-button{
    display: flex;
    flex-direction: column;
    justify-items: left;
    justify-content: flex-start;
    align-items: center;
    margin: 50px;
    margin-left: 500px;
}